<%= form_for @snippet do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.text_area :name %>
  </p>
    
      <%= f.label "Tags" %> 
         <span class="small">ie. life, work, people, food, music</span> <br/>
       <input type="text" id="tag"> <%= link_to "✚ Add Tag", new_tag_path(), :remote => true, :class=>"cupid-blue", :id=>"add-tag" %>
    
    <%# f.hidden_field :tags, :id=>"tags"%>
    <input type="hidden" name="snippet[tags]" id="tags" value="<%=@tags%>"> 
       <ul id="tags-new" class="tags">
        <%for tag in @snippet.tags%>
            <li class='rounded10 tag'><%=tag.name%><button class="tag-delete">x</button></li>
        <%end%>
       </ul>
        
        
    <button class="cupid-blue center big-button">SEND</button> 
 <% end %>

 

<script>
    var source;
    var tags = $("#tags").val().split(",");
    $(function() {  
        
    
        $(".tag-delete").live('click',function(){
            tags.splice(tags.indexOf($(this).val()), 1);
            $(this).parent().remove();
            return false;
        })
        
        $("#b").click(function(){
            if($(this).attr("checked")){
                source = $('#snippet_code').val();
                $("#snippet_code").val(style_html(source));
            }else{
                $("#snippet_code").val(source);
            }
        });
        
        
        //When page loads...
	$(".tab_content").hide(); //Hide all content
	
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content

	//On Click Event
	$("ul.tabs li").click(function() {
		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content

		var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active ID content
		return false;
	});
   
       
    });

    
 </script>