<%= form_for @snippet do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label "Snippet name" %>
    <span class="small">Snippet title with short description</span> <br/>

    <%= f.text_field :name %>
  </p>
   
  <ul class="tabs">
    <li><a href="#tab1">Source Code</a></li>
    <li><a href="#tab2">JSFiddle URL</a></li>
    </ul>

<div class="tab_container">
    <div id="tab1" class="tab_content">
        <%= f.text_area :code, :cols=>120 %>  
           
    <div id="button-beautify">
    <label> Beautify Code </label><input type="checkbox" id="b"/> 
    </div>  
    </div>
    <div id="tab2" class="tab_content" container="http://jsfiddle.net/shorturl/">
    <%=f.text_field :code%>
    </div>
</div>


  </p>
  
  <p>
    <%= f.label :description %>
    <span class="small">What does your code do?</span> <br/>
     
    <%= f.text_area :description %>
     
  </p>
 
      <%= f.label "Tags" %> 
         <span class="small">ie. button, round, gradient, svg</span> <br/>
       <input type="text" id="tag"> <%= link_to "Add Tag", new_tag_path(), :remote => true %>
       <%= f.hidden_field :tags, :id=>"tags"%>
       <ul id="tags-new" class="tags"></ul>
        
    <button class="cupid-blue center big-button">Post Snippet</button> 
 <% end %>

 

<script>
    var source;
    var tags = [];
    $(function() {  
        
        $("tag").autoSuggest("/tags/index.js");

        $(".tag-delete").live('click',function(){
            tags.splice(tags.indexOf($(this).val()), 1);
            $(this).parent().remove();
            return false;
        })
        
        $("#b").click(function(){
            if($(this).attr("checked")){
                source = $('#snippet_code').val();
                $("#snippet_code").val(style_html(source));
            }else{
                $("#snippet_code").val(source);
            }
        });
        
        
        	//When page loads...
	$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content

	//On Click Event
	$("ul.tabs li").click(function() {

		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content

		var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active ID content
		return false;
	});

       
    });

    
 </script>