<%= form_for @snippet do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label "Snippet name" %>
    <span class="small">Snippet title with short description</span> <br/>

    <%= f.text_field :name %>
  </p>
   
  <p>
    <%= f.label :code %> 
   <span class="small">Paste your source code here</span> <br/>

    <%= f.text_area :code, :cols=>120 %>
    <div id="button-beautify">
    <label> Beautify Code </label><input type="checkbox" id="b"/> 
    </div>
  </p>
  
  <p>
    <%= f.label :description %>
    <span class="small">What does your code do?</span> <br/>
     
    <%= f.text_area :description %>
     
  </p>
 
      <%= f.label "Tags" %> 
         <span class="small">ie. button, round, gradient, svg</span> <br/>
       <input type="text" id="tag"> <%= link_to "Add Tag", new_tag_path(), :remote => true %>
       <%= f.hidden_field :tags, :id=>"tags"%>
       <ul id="tags-new" class="tags"></ul>
        
    <button class="cupid-blue center big-button">Post Snippet</button> 
 <% end %>

 

<script>
    var source;
    var tags = [];
    $(function() {  
        
        $("tag").autoSuggest("/tags/index.js");

        $(".tag-delete").live('click',function(){
            tags.splice(tags.indexOf($(this).val()), 1);
            $(this).parent().remove();
            return false;
        })
        
        $("#b").click(function(){
            if($(this).attr("checked")){
                source = $('#snippet_code').val();
                $("#snippet_code").val(style_html(source));
            }else{
                $("#snippet_code").val(source);
            }
        });
       
    });

    
 </script>