  <% if params[:tag]%>
  <div class="list-title">
    Snippets tagged with <span class="rounded10 tag-title"><%= params[:tag] %></span>
  </div>
  <% end %>
  
  <%unless params[:tag]%>
  
  <%=link_to_if(@sort=="popular",  "Popular", sort_path("popular"), :class=>"sort selected rounded5") do
      link_to("Popular", sort_path("popular"), :class=>"sort rounded5")
  end %>

  
  
  <%=link_to_if(@sort=="recent",  "Recent", sort_path("recent"), :class=>"sort selected rounded5") do
      link_to("Recent", sort_path("recent"), :class=>"sort rounded5")
  end %>
  
  
   
  <div id="search">
  <%= form_tag snippets_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search], :placeholder=>"Search"%>
  <% end %>
  </div>
  
    <%end%>
  
  <div id="snippets">
      
     <%= render :partial => 'snippet', :collection => @snippets%>
    
   </div>
   
   <%= will_paginate @snippets%>
 
