<link
rel="alternate"
type="application/rss+xml"
title="RSS"
href="/snippets.rss" />

<%if params[:tag]%>
  <%=content_for(:title, "HTML5 snippets tag - " + params[:tag])%>
<%end%>

  <% if params[:tag]%>
  <div class="list-title">
    Snippets tagged with <span class="rounded10 tag-title"><%= params[:tag] %></span>
  </div>
  <% end %>
  
  <%unless params[:tag]%>
  
  <%=link_to_if(@sort=="popular",  "List Popular", sort_path("popular"), :class=>"sort selected rounded5") do
      link_to("List Popular", sort_path("popular"), :class=>"sort rounded5")
  end %>


  <%=link_to_if(@sort=="recent",  "List Recent", sort_path("recent"), :class=>"sort selected rounded5") do
      link_to("List Recent", sort_path("recent"), :class=>"sort rounded5")
  end %>
  
<%=link_to "User Requests", requests_path(), :class=>"sort rounded5"%>
  
   
  <div id="search">
  <%= form_tag snippets_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search], :placeholder=>"Search"%>
  <% end %>
  </div>
  
    <%end%>
  
  <div id="snippets">
	<%unless @snippets.empty?%>
     <%= render :partial => 'snippet', :collection => @snippets%>
     <%= will_paginate @snippets%>
	<%else%>
	<p>Didn't find what you where looking for? request a snippet</p>
		<%= render 'requests/form' , :locals=>{@request => Request.new} %>
		
	<%end%>
  </div>
  
  <div id="right-column">
  <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
    <%= link_to tag.name,  snippets_path(:tag=>tag.name),:class => "tag rounded10 " + css_class %> <br/>
  <% end %>
  </div>
   
 
