
<!-- <%= stylesheet_link_tag "prettify" %>
<%= javascript_include_tag "prettify" %> -->

<%= stylesheet_link_tag "shCore" %>

<%= stylesheet_link_tag "shThemeDefault" %>
<%= javascript_include_tag "shCore" %>
<%= javascript_include_tag "shBrushCss" %>
<%= javascript_include_tag "shBrushXml" %>
 
<%=content_for(:title, @snippet.name + " " + @snippet.tag_list.join(" "))%>

<div class="points-box rounded5">
<%=link_to image_tag("/images/vup.png"), voteup_path(:snippet_id=>@snippet.id), :remote=>true, :method => :post%> 
<div id="points"><h1><%= @snippet.votes_count %></h1></div>
</div>

<div class="snippet-title-show">
    <h1> <%= @snippet.name %></h1>
</div>


<div id="login-popup" class="rounded5 darkborder gray-shadow">
   <h3> You must login to vote.</h3>
    <a href="/auth/twitter?next=lol">Login with Twitter</a>
</div>


<div class="description-show grayfont">
    <%= simple_format(@snippet.description) %>
</div>

<%= render :partial => "tags/tag", :locals => {:tags=>@snippet.tags}%>


<%if @snippet.is_fiddle()%>
    <div class="embed-wrapper">
        <iframe style="width: 100%; height: 300px; margin-top:20px;" src="<%=@snippet.code%>/embedded"></iframe>
    </div>
<%else%>
    <pre id="sourcecode" class="brush: css; html-script: true;  " > <%= @snippet.code %></pre>
<%end%>


<%unless @snippet.is_fiddle()%>
    
        <%# link_to "Run Snippet", run_path(), :target => "_blank", :class=>"rounded5", :id=>"rundemo"%>
        <a href="http://blipea.me/run.php?id=<%=@snippet.id%>" id="rundemo" class="rounded5" target="_blank">Try Snippet</a>
 <%end%>
<div id="actions">

<% if current_user and @snippet.user == current_user%>

  <%= link_to "Edit", edit_snippet_path(@snippet) %>  
  
      <%= link_to "Delete", @snippet, :confirm => 'Are you sure?', :method => :delete %>
    <% unless saved(@snippet.id)%>
        <%= link_to "Save", saves_path(:snippet_id=>@snippet.id), :remote=>true, :method => :post, :id=>'save' %> 
    <%else%>
        Saved 
    <%end%>
<%end%>
    <%= link_to "Report", "#", :id=>'report' %>
</div>
<br/>
 <div id="report-form" class="rounded5 darkborder gray-shadow">
        <%= form_for(@report, :remote => true) do |f| %>
            <%= f.hidden_field :snippet_id, :value=>@snippet.id %>
            <label>Reason:</label>
            <p>
                
            <%= f.text_area :reason, :cols=>15, :rows=>5 %>
            <br/>
                <%= f.submit :class=>"cupid-blue", :value=>"Send"%>
            </p>
        <% end %>
    </div>

  <%if current_user == @snippet.user%>

 
 

  <%end%>
  <p>
  <%= link_to "View All Snippets", snippets_path %>
</p>
<script>
    $(function(){
         SyntaxHighlighter.all();
        
         $(".keyword").live('click', function(){
             k=$(this);
             $("#ref-form-wrapper").hide();
             $(".ref-box #ref-text").show();
             $.tag=$(this).html();
             $.get('/ref/'+$.tag+'.json', function(data){
                   //alert(data.api["text"]);
                   //c=$(".ref-box").clone().appendTo(k);
                   $(".ref-box .keyword").html(data.api["tag"]);
                   $(".ref-box .text").html(data.api["text"]);
                   $(".ref-box").fadeIn();
            });
         });
        
        $("#edit-ref").live('click', function(){
        
        <%if current_user%>
            text=$(".ref-box .text").html().replace(/&gt;/g, ">").replace(/&lt;/g, "<");
            $("#ref-textarea").val(text);
            $(".ref-box #ref-text").hide();
            $("#ref-form-wrapper").show();
        <%else%>
            $("#edit-popup").css("display", "inline");
        <%end%>
             
        });
        
        $(".keyword").live({
            mouseenter:
               function()
               {
                document.body.style.cursor = "pointer";
                $(this).css("color","black !important");
               },
            mouseleave:
               function()
               {
                   document.body.style.cursor = "cursor";
                   $(this).css("color","#006699 !important");
               }
       }
        
        );
        
        $("#save").live('click', function(){
             $.post('/apis/liveedit/'+$.tag,{'text':$("#ref-textarea").val(), 'tag':$.tag}, function(data){
                 $("#ref-form-wrapper").fadeOut();
                 $("#ref-text").html(data);
                 $(".ref-box #ref-text").fadeIn();
        });
             return false;
        });
        
        $("#ref-close").click(function(){
           $(".ref-box").fadeOut();
        });
        
        $("#report").click(function(){
            event.preventDefault();
            $("#report-form").fadeIn(); 
        });
    
    });
    
</script>