
<!-- <%= stylesheet_link_tag "prettify" %>
<%= javascript_include_tag "prettify" %> -->

<%= stylesheet_link_tag "shCore" %>

<%= stylesheet_link_tag "shThemeDefault" %>
<%= javascript_include_tag "shCore" %>
<%= javascript_include_tag "shBrushCss" %>
<%= javascript_include_tag "shBrushXml" %>
 
<%=content_for(:title, "HTML5 snippet :   " + @snippet.name)%>

<%=content_for(:head, raw("<META name=\"keywords\" content=\"" + @snippet.tags.join(",")  + "\">"))%>
<div id="show-header">
  <div class="left-box">
  <div class="points-box rounded5">
  <%=link_to image_tag("/images/vup.png"), voteup_path(:snippet_id=>@snippet.id), :remote=>true, :method => :post%> 
  <div id="points"><h1><%= @snippet.votes_count %></h1></div>
  </div>
  <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="html5snippets">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  
  </div>



  <div class="snippet-title-show">
      <h1> <%= @snippet.name %></h1>
  </div>


  <div id="login-popup" class="rounded5 darkborder gray-shadow">
     <h3> You must login to vote.</h3>
      <a href="/auth/twitter?next=lol">Login with Twitter</a>
  </div>


  <div class="description-show grayfont">
  
  <%=  auto_link(simple_format(@snippet.description), :html => { :target => '_blank' }) %>
      <div class="user-info">
      <table>
      <tr>
      <td>
      <% if @snippet.user.avatar %>
        <%=image_tag @snippet.user.avatar, :class=>"avatar"%> 
      <%end%>
      </td>
      <td>
       <%=@snippet.views%> views <br/>
       Posted By:
      <%=@snippet.user.name%> <% if @snippet.user.provider=="twitter" %> <a href="http://www.twitter.com/rbreve"> <br/></a><%= link_to "@" + @snippet.user.username, "http://twitter.com/" + @snippet.user.username, :target=>"_blank"%> <% end %>
      </td>
      </table>
      </div>
  </div>
</div>


<div class="tags-wrapper-show">
<%= render :partial => "tags/tag", :locals => {:tags=>@snippet.tags}%>
</div>

<ul class="snippet-tabs">

<% unless @snippet.is_fiddle() %>
  <li id="srun">
   <a href="#" class="rounded-top5" > Run Snippet </a>
  </li>
 <% end %>
  <li class="rounded-top5" id="ssource">
    <a href="#">Source Code</a>
  </li>
   
   
</ul>

<div id="snippet-content">

<%if @snippet.is_fiddle()%>
    <div class="embed-wrapper">
        <iframe style="width: 100%; height: 300px; margin-top:20px;" src="<%=@snippet.code%>/embedded"></iframe>
    </div>
<%else%>
  <div id="source-wrapper">
    <pre id="sourcecode" class="brush: css; html-script: true;  " > <%= @snippet.code %></pre>
  </div>  
  <div id="run-wrapper">
    <iframe style="width: 100%; height: 700px; margin-top:20px;" frameborder="0" border="0"  src="http://blipea.me/run.php?id=<%=@snippet.id%>"></iframe>
  </div>
<%end%>

 

</div>



  <div id="actions">

  <% if current_user and @snippet.user == current_user%>

    <%= link_to "Edit", edit_snippet_path(@snippet) %>  
  
        <%= link_to "Delete", @snippet, :confirm => 'Are you sure?', :method => :delete %>
      <% unless saved(@snippet.id)%>
          <%= link_to "Save", saves_path(:snippet_id=>@snippet.id), :remote=>true, :method => :post, :id=>'save' %> 
      <%else%>
          Saved 
      <%end%>
  <%end%>
      <%= link_to "Report", "#", :id=>'report' %>
  </div>

 <div id="report-form" class="rounded5 darkborder gray-shadow">
        <%= form_for(@report, :remote => true) do |f| %>
            <%= f.hidden_field :snippet_id, :value=>@snippet.id %>
            <label>Reason:</label>
            <p>
                
            <%= f.text_area :reason, :cols=>15, :rows=>5 %>
            <br/>
                <%= f.submit :class=>"cupid-blue", :value=>"Send"%>
            </p>
        <% end %>
    </div>

  <%if current_user == @snippet.user%>
 

  <%end%>
  <p>
  <%= link_to "View All Snippets", snippets_path %>
</p>
<script>
    $(function(){
         SyntaxHighlighter.all();
          
         function autolink(text){
         		var re = /((http|https|ftp):\/\/[\w?=&.\/-;#~%-]+(?![\w\s?&.\/;#~%"=-]*>))/g;
         	  return ( text.replace(re, '<a href="$1" target="_blank">$1</a> ') );
         }
        
        
         $(".keyword").live('click', function(){
             k=$(this);
             $("#ref-form-wrapper").hide();
             $(".ref-box #ref-text").show();
             $.tag=$(this).html();
             $.get('/ref/'+$.tag+'.json', function(data){
                   //alert(data.api["text"]);
                   //c=$(".ref-box").clone().appendTo(k);
                   $(".ref-box .keyword").html(data.api["tag"]);
                   $(".ref-box .text").html(autolink(data.api["text"]));
                   $(".ref-box").fadeIn();
            });
         });
        
        $("#edit-ref").live('click', function(){
        
        <%if current_user%>
            text=$(".ref-box .text").html().replace(/&gt;/g, ">").replace(/&lt;/g, "<");
            $("#ref-textarea").val(text);
            $(".ref-box #ref-text").hide();
            $("#ref-form-wrapper").show();
        <%else%>
            $("#edit-popup").css("display", "inline");
        <%end%>
             
        });
        
        $(".keyword").live({
            mouseenter:
               function()
               {
                document.body.style.cursor = "pointer";
                $(this).css("color","black !important");
               },
            mouseleave:
               function()
               {
                   document.body.style.cursor = "cursor";
                   $(this).css("color","#006699 !important");
               }
       }
        
        );
        
        $("#save").live('click', function(){
            $.post('/apis/liveedit/'+$.tag,{'text':$("#ref-textarea").val(), 'tag':$.tag}, function(data){
              $("#ref-form-wrapper").fadeOut();
              $("#ref-text").html(data);
              $(".ref-box #ref-text").fadeIn();
            });
            return false;
        });
        
        $("#ref-close").click(function(){
           $(".ref-box").fadeOut();
        });
        
        $("#report").click(function(){
            event.preventDefault();
            $("#report-form").fadeIn(); 
        });
    
        $("#ssource  a").live('click', function(){
        $("#ssource").css("background-color", "#FFF");
        $("#srun").css("background-color", "#EEE");
        $("#source-wrapper").show();
        $("#run-wrapper").hide();
          
        });
      
        $("#srun a").live('click', function(){
           $("#ssource").css("background-color", "#EEE");
           $("#srun").css("background-color", "#FFF");
           $("#source-wrapper").hide();
           $("#run-wrapper").show();
        });
    
    });
    
</script>