


<!-- <%= stylesheet_link_tag "prettify" %>
<%= javascript_include_tag "prettify" %> -->

<%= stylesheet_link_tag "shCore" %>

<%= stylesheet_link_tag "shThemeDefault" %>
<%= javascript_include_tag "shCore" %>
<%= javascript_include_tag "shBrushCss" %>
<%= javascript_include_tag "shBrushXml" %>



<h1>
  <%= @snippet.name %>
</h1>

<%= @snippet.description %>

<% unless @snippet.tags.empty? %>

    <div class="tags-wrapper">
       
        <% for tag in @snippet.tags %>
             
            <%= link_to tag.name, snippets_path(:tag=>tag.name), :class=>"tag rounded10" %>
            
        <%end%>
       
    </div>
     
<%end%>

<pre id="sourcecode" class="brush: css; html-script: true; gutter: false; " ><code><%= @snippet.code %></code></pre>


<div>

Version <%=@snippet.version%>

<%if @snippet.version > 1%>
    | <%= link_to "Previous version", :version=>@snippet.version-1%>
<%end%>

<%if params[:version] %>
    | <%= link_to "Latest version", :version=>nil%>
<%end%>
 | <%= link_to "Run Demo", run_path(), :target => "_blank"%>
</div>


<p>
  <%= link_to "Edit", edit_snippet_path(@snippet) %> |
  
  <%if current_user == @snippet.user%>
      <%= link_to "Destroy", @snippet, :confirm => 'Are you sure?', :method => :delete %> |
  <%end%>
  
  <%= link_to "View All", snippets_path %>
</p>

<script>
    SyntaxHighlighter.all()
</script>