<% if @user.avatar %>
  <%=image_tag @user.avatar, :class=>"avatar"%> 
<%end%>

<p>
Name:
<%= @user.name %>
</p>

<p>
Karma:
<span id="karma" class="rounded10">
<%= @user.karma %>
</span>
</p>



<p>
<a href="http://www.twitter.com/rbreve"><img src="http://twitter-badges.s3.amazonaws.com/t_small-a.png" alt="Follow rbreve on Twitter"/></a>
<a href="http://twitter.com/<%= @user.username %>" target="_blank">@<%= @user.username %></a>
</p>
 