<%= form_for @save do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :integer %><br />
    <%= f.text_field :integer %>
  </p>
  <p>
    <%= f.label :integer %><br />
    <%= f.text_field :integer %>
  </p>
  <p><%= f.submit %></p>
<% end %>
