<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "HTML5 Snippets" %></title>
    
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>

    <script type="text/javascript" src="http://use.typekit.com/fke3zcj.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
      <div class="ref-box">
          <div id="ref-wrapper">
              <span class="keyword"></span>
              <div id="ref-text" class="rounded5">
                  <span class="text"></span><button id="edit-ref" class="cupid-blue">Edit</button> 
                  <%if not current_user%>
                  <div id="edit-popup" class="rounded5 darkborder gray-shadow">
                   <h3> You must login to edit.</h3>
                    <%link_to "Sign In", login_path()</a>
                </div>
                  <%end%>
              </div>
              <div id="ref-form-wrapper">
                  <form id="ref-form">
                      <textarea name="text" id="ref-textarea"></textarea>
                      <button class="cupid-blue" id="save">Save</button>
                 </form> 
              </div>
        <button id="ref-close" class="cupid-blue">✕ Close</button>

         </div>

      </div>
      
      

    
    <div id="header">
    
    <a href="/">
    <img src="/images/logo.png">
    </a>
    
    <div id="user-login">
    <%= link_to "Add a Snippet", new_snippet_path, :class=>"cupid-blue small-button" %>
    
    <%if current_user%>
        Welcome <strong><%= current_user.name %></strong> | <%= link_to "My Snippets" , saved_path("rbreve")%> | <%= link_to "Sign out", signout_path() %>
    <%else%>
        <%= link_to "Sign In with Twitter", "/auth/twitter", :class=>"minimal" %>
    <%end%>
    </div>
    
    </div> 
      
    <div id="container" class="rounded10 bigborder">
        <div id="wrapper">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
      </div>
    </div>
  </body>
</html>
